/* Basic styles for body */
.main-body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #282828; 
    color: #cccccc; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.a{
    color:#cccccc
}


.center-container {
    padding: 40px;
    text-align: center;
    width: 100%; 
}


.logo {
    max-width: 200px; 
    margin-bottom: 20px;
}

/* Navigation styling */
nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px; /* Space between links */
}

nav ul li a {
    text-decoration: none; /* Remove underline */
    color: #cccccc; /* Black text */
    font-weight: bold;
}

/* About page styles */
.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282828;
    position: relative;
    overflow: hidden; /* Ensure "Nazmi" stays within the screen bounds */
}

.about-page section {
    text-align: center; /* Center the text */
    z-index: 2; /* Ensure the main content stays above the moving text */
}

.about-page h1 {
    color: #cccccc;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-page p {
    font-size: 18px;
    color: #cccccc;
}

/* Moving "Nazmi" background text */
#nazmi-text {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    color: #f3c300; /* Start with yellow */
    opacity: 0.9; /* Light text */
    z-index: 1;
    left: 0; /* Start from the left */
    top: 0; /* Start from the top */
}
/* Blog list styling */
.blog-body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #282828; 
    color: #cccccc; 
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
    flex-direction: column;
}
.blog-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    max-width: 400px;
}

.blog-list li {
    margin-bottom: 10px;
}

.blog-list a {
    color: #2e6db4;
    text-decoration: none;
    font-size: 20px;
}

.blog-list a:hover {
    color: #00ab9f;
}
.blog-container {
    padding: 40px;
    width: 80%;
    margin: 40px auto;
    text-align: left;
    border-radius: 5px;
}

/* Simple fade-in animation */
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

